extends layout

block content
  h1="Taipei Fireworks"
  p work work work
  p where does this go
  canvas(id="draw", resize="true")
  script(type="text/paperscript", src="javascripts/main.js", canvas="draw")
