doctype html
html
  head
    title="Taipei Fireworks"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Londrina+Sketch')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
    script(src="/javascripts/paper.js")
    script(src="/javascripts/main.js")
  body
    block content
