doctype html
html
  head
    title="Taipei Fireworks"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/paper.js")
    script(src="/javascripts/main.js")
  body
    block content
