html,
body {
    margin: auto;
    overflow: hidden;
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
#sketch {
  margin: auto;
  display: block;
}

h1 {
  margin: auto;
  text-align: center;
}

p {
  color: black;
  margin: auto;
  text-align: center;
}
